.Addbutton{
    position: fixed;
    bottom: 10%;
    right: 5%;
    font-size: 2rem;
    padding: 1rem;
    border: none;
    height: 67px;
    width: 67px;
    background-color: bisque;
    border-radius: 50px;
    cursor: pointer;
    
}

.Addbutton:hover{
    background-color: thistle;
}